@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

/* Header base */

.header {
  width: 100%;
  height: 80px;
  transition: all 0.3s ease;
}

/* Sticky Header */

.sticky__header {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 99999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Desktop Menu */

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

/* Mobile */

@media only screen and (max-width: 768px) {
  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #00000084;
    display: none;
  }

  .menu {
    width: 15rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }

  .show__menu {
    display: block;
  }
}
