@import "tailwindcss";
@reference utilities;

/* Custom color tokens */
:root {
  --primaryColor: #0067ff;
  --headingColor: #181a1e;
  --textColor: #4e545f;
}

@layer base {
  section {
    @apply py-[75px];
  }
}

@layer components {
  .container {
    @apply max-w-full w-[1440px] px-5 mx-auto;
  }

  .btn {
    background-color: var(--primaryColor);
    @apply py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px];
  }

  .heading {
    color: var(--headingColor);
    @apply text-[44px] leading-[54px] font-[700];
  }

  .text__para {
    color: var(--textColor);
    @apply text-[18px] leading-[30px] font-[400] mt-[18px];
  }
}

/* Responsive */

@media (max-width: 1024px) {
  section {
    @apply py-[35px];
  }

  .container {
    @apply w-full;
  }
}

@media (max-width: 768px) {
  .heading {
    @apply text-[26px] leading-[36px];
  }

  .text__para {
    @apply text-[16px] leading-7 mt-3;
  }
}
