@import "tailwindcss";

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Color tokens */
:root {
  --primaryColor: #0067ff;
  --headingColor: #181a1e;
  --textColor: #4e545f;
}

/* Layout */

.container {
  max-width: 1320px; /* increased from 1100px */
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

section {
  padding: 75px 0;
}

/* Components */

.btn {
  background: var(--primaryColor);
  padding: 15px 35px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  margin-top: 38px;
  margin-bottom: 38px; /* add this */
}

.heading {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  color: var(--headingColor);
}

.text__para {
  font-size: 18px;
  line-height: 30px;
  color: var(--textColor);
  margin-top: 18px;
}

/* Responsive */

@media (max-width: 1024px) {
  section {
    padding: 35px 0;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 26px;
    line-height: 36px;
  }

  .text__para {
    font-size: 16px;
    line-height: 28px;
    margin-top: 12px;
  }
}

.header {
  background-image: url("./assets/images/mask.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero__section {
  @apply bg-[url('./assets/images/hero-bg.png')] bg-no-repeat bg-center bg-cover
}

.stat__line {
  margin-top: -14px;
}

.hero__img__gap {
  margin-bottom: 30px;
}